[Unit]
Description=Timer for VALET_balancer_executor starts every X min (currently 1min), triggering VALET_balancer.service

[Timer]
OnCalendar=*:00/01

[Install]
WantedBy=timers.target

