[Unit]
Description=Timer for VALET_balancer_executor starts every X min, triggering VALET_balancer.service

[Timer]
OnUnitActiveSec=5min
AccuracySec=1us

[Install]
WantedBy=timers.target

