[Unit]
Description=Timer for VALET_scheduler starts every X min (currently 1min), triggering VALET_scheduler.service

[Timer]
OnUnitActiveSec=1min
AccuracySec=1us

[Install]
WantedBy=timers.target

